__pycache__/
*.py[cod]
*$py.class

results/
results_classic/
results_multitask/
results_lemmatization/
runs/
*.pt
*.bin
*.pth
wandb/

*.so
*.o
*.pyd
build/
Sigmorphon2018SharedTask/

data/

.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
